body {
    background-color: #000;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    border: 1px solid #eee;
    height: 1800px;
    width: 1600px;
    background: aliceblue;
    overflow: hidden;
}

.image {
    width: 600px;
    height: 500px;
    background-color: aquamarine;
    left: 150px;
    top: 30px;
    cursor: pointer;
    position: absolute;
}

.image2 {
    width: 600px;
    height: 500px;
    background-color: coral;
    left: 550px;
    top: 170px;
    cursor: pointer;
    position: absolute;
}

.cube {
    display: block;
    position: absolute;
    z-index: 1;
    background: crimson;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.cube:hover {
    border: 4px solid cyan;
}
