body {
    background-color: #000;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    border: 1px solid #eee;
    height: 1800px;
    width: 1600px;
    background: aliceblue;
    overflow: hidden;
}

.image {
    width: 600px;
    height: 500px;
    background-color: aquamarine;
    left: 150px;
    top: 30px;
}

[box] {
    cursor: pointer;
    position: absolute;
}

[box].active {
    z-index: 1000;
}

/*this is for sample*/
.image2 {
    width: 600px;
    height: 500px;
    background-color: coral;
    left: 550px;
    top: 170px;
}

.cube {
    position: absolute;
    z-index: 1;
    background: crimson;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.5s time;
    -moz-transition: 0.5s time;
    -ms-transition: 0.5s time;
    -o-transition: 0.5s time;
    transition: 0.5s time;
    display: none;
}
.cube:hover {
    border: 4px solid cyan;
}

.cube.active {
    z-index: 1001;
    display: block;
}
